* {
  font-family: Georgia, Arial, sans-serif;
}

h1 {
  font-size: 2em;
  background-color:#d6e3ef;
  padding-top:20px;
  padding-bottom:10px;
  padding-left:20px;
}

h2 {
  COLOR: #000000;
  FONT-FAMILY: Georgia, Arial, sans-serif;
  FONT-SIZE: 130%;
  FONT-WEIGHT: bold;
  MARGIN-TOP: 20px;
  MARGIN-BOTTOM: 1px;
}

a {
  color: #000000;
  font-size: 99%;
}

a:hover {
  color: #6a82a4;
  font-size: 99%;
  text-decoration: none;
}

a:link, a:visited {
  color: #0000ff;
  font-size: 99%;
  text-decoration: underline;
}

.section {
  color: #000000;
  font-size: 130%;
  font-weight: bold;
  margin: 1em 0em 0.5em 0em;
  text-align: left;
}

.subsection {
  color: #000000;
  font-size: 89%;
  font-weight: bold;
  margin: 1em 0em 0.5em 0em;
  text-align: left;
}

li {
  margin-bottom: 0.2em;
}

#headerContainer {
  width: 100%;
  text-align: center;
}

#header {
  margin: 0px auto;
  padding: 1em 0.5em 0.25em 1em;
  background: #d6e3ef url(images/title.png) repeat-x scroll bottom left;
  width: 98%;
  font-size: 1.5em;
}

#centeringDiv {
  width: 50em;
  text-align: left;
  margin: 2em auto;
}

body {
  text-align: center;
}

#caption {
  text-align: center;
}

#caption a, #caption a:hover, #caption a:link, #caption a:visited {
  font-size: 0.6em;
}
